.features {
  padding-top: 94px;

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__list {
    @extend %flex__list;
  }
  &__item {
    width: calc((100%-90px) / 4);
  }

  &__item + &__item {
    @extend %margin__left30;
  }

  &__block {
    display: flex;
    padding: 25px 0;
    max-width: 270px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 4px;

    background-color: #f5f4fa;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__name {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
  }
  &__text {
    margin: 0;

    color: $greyText;
    line-height: 1.71;
  }
}
