.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  line-height: 1.71;
  background-color: #2f303a;

  &__logo {
    margin-bottom: 20px;
  }

  &__content {
    display: flex;
    align-items: baseline;
  }

  &__info {
    margin-right: 70px;
  }

  &__info-address {
    margin: 0;
    margin-bottom: 10px;

    font-style: normal;

    color: $whiteText;
  }

  &__info-contacts {
    display: block;
    font-style: normal;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    & + & {
      margin-top: 10px;
    }

    &:hover,
    &:focus {
      color: $blueAccent;
    }
  }

  &__socials {
    margin-left: auto;
  }

  &__socials-heading,
  &__form-heading {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $whiteText;
  }

  &__socials-list {
    display: flex;
    margin-left: -10px;
  }

  &__socials-item {
    width: calc(100% / 4 - 10px);
    margin-left: 10px;
  }

  &__socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.1);
    fill: $whiteText;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $blueAccent;
    }
  }

  &__socials-icon {
    width: 20px;
    height: 20px;
  }

  &__form {
    margin-left: auto;
  }

  &__form-input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;

    &:focus {
      border-color: $whiteText;
      outline: none;
    }
  }

  &__form-btn {
    margin-left: 12px;

    margin-left: 12px;
    padding-top: 11px;
    padding-right: 28px;
    padding-bottom: 9px;
    padding-left: 28px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  &__form-icon {
    vertical-align: middle;
    width: 24px;
    height: 24px;

    fill: $whiteText;
  }
}
