.intro {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
  background-color: #2f303a;

  &__overlay {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/overlay.jpg");
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    color: $whiteText;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
  }

  &__btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
