.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    margin: 0;
    margin-bottom: 12px;
  }

  &__field:focus-within &__icon {
    fill: $blueAccent;
  }

  &__label {
    display: block;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: $greyText;
  }

  &__block {
    position: relative;
  }

  &__input {
    display: block;
    width: 448px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border-color: $blueAccent;
      outline: none;
    }
  }

  &__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    width: 18px;
    height: 18px;
    fill: currentColor;

    transform: translate3d(0, -50%, 0);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__textarea {
    width: 448px;
    height: 120px;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.1;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
      border-color: $blueAccent;
      outline: none;
    }
  }

  &__check {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  cursor: pointer;

  &__check-input {
    position: absolute;
    padding-right: 5px;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__check-box {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid $blackText;
    border-radius: 4px;
    opacity: 1;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form__check-input:checked + & {
      background-image: url("/images/icon-check.svg");
      border-color: $blueAccent;
      background-origin: border-box;
      background-color: $blueAccent;
    }

    .form__check-input:focus + & {
      border-color: $blueAccent;
    }
  }

  &__check-text {
    padding-left: 8px;

    line-height: 1.71;

    color: $greyText;
  }

  &__check-link {
    color: $blueAccent;
  }
  &__btn {
    padding-top: 10px;
    padding-right: 55px;
    padding-bottom: 10px;
    padding-left: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
