.nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
  margin-right: auto;

  &__list {
    display: flex;
    margin-left: -50px;
  }

  &__item {
    width: calc(100% / 3 - 50px);
    margin-left: 50px;
  }

  &__link {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;

    color: $blackText;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $blueAccent;
    }

    &--current {
      color: $blueAccent;

      &::after {
        content: "";

        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -1px;
        border-radius: 4px;

        background-color: $blueAccent;
      }
    }
  }
}
