.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  line-height: 1.71;
  background-color: #2f303a;

  &__wrapper {
    display: flex;
    align-items: baseline;
  }

  &__block--right {
    margin-right: 70px;
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__address {
    margin: 0;
    margin-bottom: 10px;

    font-style: normal;

    color: $whiteText;
  }

  &__contacts {
    display: block;
    font-style: normal;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    & + & {
      margin-top: 10px;
    }

    &:hover,
    &:focus {
      color: $blueAccent;
    }
  }

  &__socials--color {
    background-color: rgba(255, 255, 255, 0.1);
    fill: $whiteText;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $blueAccent;
    }
  }
}
